body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#hero {
    background-image: url("images/login.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    text-align: center;
}

#hero h2 {
    font-size: 4rem;
    margin: 0;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #444;
}

#featured-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.product-card {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.product-card img {
    max-width: 100%;
}

.product-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-card p {
    font-size: 1.25rem;
    margin: 10px 0;
}

#newsletter {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
}

form input[type="email"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
